<header>
  <div id="logo-container">
    <img src="../../assets/lime_logo.png" />
  </div>
  <nav>
    <div class="navItem navItemList" [ngClass]="">
      NEWS<fa-icon [icon]="faCaretDown"></fa-icon>
    </div>
    <div class="navItem navItemList">
      VIDEOS<fa-icon [icon]="faCaretDown"></fa-icon>
    </div>
    <div class="navItem navItemList">
      REVIEWS<fa-icon [icon]="faCaretDown"></fa-icon>
    </div>
    <div class="navItem navItemList">
      PODCASTS<fa-icon [icon]="faCaretDown"></fa-icon>
    </div>
    <div class="navItem">
      FEATURES
    </div>
    <div class="navItem navItemList">
      MORE<fa-icon [icon]="faCaretDown"></fa-icon>
    </div>
    <div class="navItemsEnd">
      <div class="navItem">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </div>
      <div class="navItem">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </div>
      <div class="navItem">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </div>
      <div class="navItem" id="subscribe-button">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        SUBSCRIBE
      </div>
      <div class="navItem navItemList">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="navItem">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
    </div>
  </nav>
</header>
