<div id="page-wrapper" *ngIf="story">
  <section id="top-section">
    <div id="story-tags-container">
      <div class="storyTag">{{ story.fields.category }}</div>
      <div class="storyTag" *ngFor="let tag of story.fields.tags">
        {{ tag }}
      </div>
    </div>

    <h1 class="storyTitle">{{ story.fields.title }}</h1>
    <h3 class="storySubText">{{ story.fields.subText }}</h3>
    <div class="storyByLine">
      By
      <span class="storyAuthor">{{ story.fields.author.fields.name }}</span>
      &nbsp;|
      {{ story.sys.updatedAt | date: "MMMM dd, yyyy, h:mm a" }}
    </div>
  </section>
  <section
    id="top-img-section"
    [ngStyle]="{
      background: 'url(' + story.fields.mainImage.fields.file.url + ')',
      'background-position': story.fields.imageFocus,
      'background-size': 'cover'
    }"
  ></section>

  <section id="review-story-body" [innerHTML]="storyBodyContent"></section>
  <section id="score-section">
    <div id="score-section-inner">
      <div id="score-section-content">
        <div id="review-pros">
          <div class="reviewPro" *ngFor="let pro of story.fields.reviewPros">
            <fa-icon [icon]="faPlusCircle"></fa-icon>{{ pro }}
          </div>
        </div>
        <div id="review-cons">
          <div class="reviewCon" *ngFor="let con of story.fields.reviewCons">
            <fa-icon [icon]="faMinusCircle"></fa-icon>{{ con }}
          </div>
        </div>
        <div id="review-badge">
          <div id="review-badge-number">
            {{ story.fields.reviewScore }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="next-up-section">
    <div id="next-up-section-header">
      Next Up In <a [routerLink]="['/reviews']">Reviews</a>
    </div>
    <div class="nextUpItem" *ngFor="let nextUpStory of nextUpStories">
      <a (click)="storyService.routeToStory(nextUpStory)">{{
        nextUpStory.fields.title
      }}</a>
    </div>
  </section>
</div>
