#page-wrapper {
  margin: auto;
}

#top-section {
  margin-top: 10px;
  padding: 15px;
  text-align: center;

  #story-tags-container {
    .storyTag {
      color: white;
      background-color: var(--primary-color);
      display: inline-block;
      padding: 2px 6px;
      border-radius: 3px;
      font-size: 14px;
      margin-right: 8px;
    }
  }

  .storyTitle {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
  }

  .storySubText {
    font-size: 22px;
    color: gray;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
  }

  .storyByLine {
    margin-top: 12px;
    font-size: 14px;

    .storyAuthor {
      color: var(--primary-color);
      font-style: italic;
    }
  }
}

#top-img-section {
  width: 100%;
  height: 50vw;
  margin: 10px 0;
  margin-bottom: 0px;
  overflow: hidden;
}

#review-story-body {
  padding: 15px;
  max-width: 1200px;
  margin: auto;
}

#score-section {
  padding: 10px 0px;
  background-color: var(--secondary-color);

  #score-section-inner {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

    #score-section-content {
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      font-size: 18px;

      #review-pros,
      #review-cons {
        flex-grow: 1;
        color: white;

        .reviewPro,
        .reviewCon {
          margin-bottom: 15px;
          align-items: center;
        }

        .reviewPro {
          display: flex;
          flex-direction: row;
          margin-right: 10px;
        }

        .reviewCon {
          display: flex;
          flex-direction: row-reverse;
          margin-left: 10px;
        }

        .reviewPro fa-icon {
          margin-right: 10px;
        }

        .reviewCon fa-icon {
          margin-left: 10px;
        }
      }

      #review-pros {
        fa-icon {
          float: left;
          color: var(--secondary-color);
        }
      }

      #review-cons {
        margin-top: 5px;
        text-align: right;
        fa-icon {
          float: right;
          color: lightgray;
          margin-left: 10px;
        }
      }

      #review-badge {
        /* background-color: var(--primary-color);
        box-shadow: inset 0px 0px 0px 10px var(--secondary-color); */
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        align-self: center;

        #review-badge-number {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 180px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}

#next-up-section {
  padding: 15px;
  width: 100%;

  a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  #next-up-section-header {
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
  }

  .nextUpItem {
    font-size: 18px;
    margin-top: 15px;

    a {
      cursor: pointer;
    }
  }
}

@media (min-width: 728px) {
  #top-section {
    .storyTitle {
      font-size: 48px;
    }
  }

  #top-section,
  #next-up-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  #score-section-content {
    max-width: 1200px;
    margin: auto;
  }

  #score-section {
    #score-section-inner {
      #score-section-content {
        flex-direction: row;

        #review-badge {
          margin: 0;
          margin-left: 40px;
        }

        #review-cons {
          margin-top: 0;
          text-align: left;
          fa-icon {
            float: left;
            color: lightgray;
            margin-left: 0px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 968px) {
  #top-img-section {
    margin-bottom: 5px;
  }
}
