.storyGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  padding: 2px;
  height: 1200px;
  min-height: 1000px;

  .sgi {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;

    flex-basis: calc(100% - 2px * 2);

    margin: 2px;

    background-color: lightgray;
  }
}

@media (min-width: 600px) {
  .storyGrid {
    .sgi {
      flex-basis: calc(50% - 2px * 2);
    }

    .sgi-large {
      flex-basis: calc(100% - 2px * 2);
    }

    .sgi-medium {
      flex-basis: calc(100% - 2px * 2);
    }

    .sgi-corner:after {
      display: block;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-color: white;
      border-width: 0 45px 45px 0;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
    }

    .sgi-corner-bot:after {
      display: block;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-color: white;
      border-width: 45px 0 0 45px;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
    }
  }
}

@media (min-width: 728px) {
  .storyGrid {
    .sgi {
      flex-basis: calc(33% - 2px * 2);
    }

    .sgi-large {
      flex-basis: calc(100% - 2px * 2);
    }

    .sgi-medium {
      flex-basis: calc(100% - 2px * 2);
    }
  }
}

@media (min-width: 1200px) {
  .storyGrid {
    height: 80vw;
    max-height: 1075px;
    min-height: 985px;
    max-width: 1600px;
    .sgi {
      flex-basis: calc(25% - 2px * 2);
    }

    .sgi-large {
      flex-basis: calc(75% - 2px * 2);
    }

    .sgi-medium {
      flex-basis: calc(50% - 2px * 2);
    }

    .sgi-mt {
      margin-top: 50px;
    }
  }
}
