<section class="storyGrid">
  <div
    *ngFor="let story of stories; let i = index"
    class="sgi"
    [ngStyle]="{
      'background-image': 'url(' + story.fields.mainImage.fields.file.url + ')',
      'background-position': story.fields.imageFocus
    }"
    (click)="storyService.routeToStory(story)"
  >
    <div class="sgiContentWrapper">
      <div class="sgiContent">
        <div class="sgiTag">{{ story.fields.category }}</div>
        <div class="sgiTitle">{{ story.fields.title }}</div>
        <div class="sgiByLine">By: {{ story.fields.author.fields.name }}</div>
      </div>
    </div>
  </div>
</section>
