<section class="subGrid">
  <div
    *ngFor="let story of stories; let i = index"
    class="sgi"
    [ngStyle]="{
      'background-image': 'url(' + story.fields.mainImage.fields.file.url + ')'
    }"
    [ngClass]="{ 'sgi-corner': i === stories.length - 1 }"
    (click)="storyService.routeToStory(story)"
  >
    <div class="sgiContentWrapper">
      <div class="sgiContent">
        <div class="sgiTag">{{ story.fields.category }}</div>
        <div class="sgiTitle">{{ story.fields.title }}</div>
        <div class="sgiByLine">
          By:
          <span class="sgiAuthor">{{ story.fields.author.fields.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
