.subGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  margin-top: 40px;

  .sgi {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    margin: 2px;

    background-color: lightgray;
    background-position: center;
    background-size: cover;

    cursor: pointer;

    transition: 0.15s box-shadow ease;

    &:hover {
      box-shadow: inset 5px -5px 0px 0px var(--primary-color);
    }
  }

  .sgiContentWrapper {
    width: 100%;
    height: 100%;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0) 50%
    );
  }

  .sgiContent {
    margin-top: 100px;
  }

  .sgiTag {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }

  .sgiTitle {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .sgiByLine {
    color: white;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 5px;
  }

  .sgi-corner:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-color: white;
    border-width: 0 45px 45px 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }
}

@media (min-width: 600px) {
  .subGrid {
    max-width: min(90vw, 1200px);
    margin: 40px auto;
    .sgiContentWrapper {
      padding: 15px;
    }

    .sgi {
      height: 300px;
      flex-basis: 0;
      margin: 0 10px;
    }

    .sgiTitle {
      font-size: 18px;
    }

    .sgiContent {
      margin-top: unset;
    }
  }
}

@media (min-width: 728px) {
  .subGrid {
    .sgiTitle {
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .subGrid {
    max-width: min(80vw, 1200px);
    margin: 80px auto;
    .sgi {
      height: 350px;
    }

    .sgiTitle {
      font-size: 22px;
    }
  }
}
