<div id="page-wrapper" *ngIf="stories">
  <div id="top-stories-section">
    <div class="topStory">
      <div class="topStoryContent">
        <div class="topStoryTag">{{ stories[0].fields.tags[0] }}</div>
        <div class="topStoryTitle">{{ stories[0].fields.title }}</div>
        <div class="topStoryByLine">
          By: {{ stories[0].fields.author.fields.name }}
        </div>
      </div>
    </div>
    <div class="topStory">
      <div class="topStoryContent">
        <div class="topStoryTag">{{ stories[1].fields.tags[0] }}</div>
        <div class="topStoryTitle">{{ stories[1].fields.title }}</div>
        <div class="topStoryByLine">
          By: {{ stories[1].fields.author.fields.name }}
        </div>
      </div>
    </div>
  </div>

  <app-story-list [stories]="getListStories()"></app-story-list>
</div>
