/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: rgb(0, 160, 255);
  --secondary-color: #adff2f;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.show-md {
  display: none !important;
}

.show-lg {
  display: none !important;
}

.show-xl {
  display: none !important;
}

hr {
  border-bottom: 1px solid lightgray;
  margin: 10px 0px;
}

code {
  display: inline-block;
  padding: 10px;
  background-color: lightgray;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.embeddedEntry {
  display: inline-block;
  color: var(--primary-color);
  background-color: rgb(235, 235, 235);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;

  img {
    display: none;
  }

  .embeddedEntryContent {
    .embeddedEntryTitle {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid var(--primary-color);
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 600px) {
  .show-md {
    display: inherit !important;
  }

  .embeddedEntry {
    display: inline-flex;
    img {
      display: block;
      margin-right: 10px;
      max-width: 160px;
    }
  }
}

@media (min-width: 728px) {
  .show-lg {
    display: inherit !important;
  }
}

@media (min-width: 1200px) {
  .show-xl {
    display: inherit !important;
  }
}
