#story-list {
  margin: 5px;
  margin-top: 120px;
}

#story-list-header {
  margin: 25px 0px;
  border-bottom: 1px solid var(--primary-color);
  position: relative;

  #story-list-header-text {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2px 10px;
  }
}

.listStory {
  border-top: 1px solid lightgray;
  display: flex;
  height: 15vw;
  max-height: 200px;
  min-height: 110px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover {
    .listStoryTitle {
      color: var(--primary-color);
    }
  }
}

.firstStory {
  border-top: none;
}

.listStoryImg {
  flex-grow: 1;
  flex-basis: 0;
  background-color: lightgray;
  background-position: center;
  background-size: cover;

  &:hover {
    box-shadow: -3px 0px 0px 0px var(--primary-color);
  }
}

.listStoryContent {
  flex-grow: 2;
  flex-basis: 0;
  padding: 5px 10px;

  .listStoryTitle {
    font-weight: bold;
  }

  .listStoryTag {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .listStoryByLine {
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 5px;
  }
}

#more-stories-button {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-color);
  cursor: pointer;
}

@media (min-width: 600px) {
  #story-list {
    max-width: min(90vw, 1200px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 728px) {
  #story-list {
    .listStoryContent {
      .listStoryTitle {
        font-size: 18px;
      }

      .listStoryByLine {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #story-list {
    max-width: min(80vw, 1200px);
    margin-top: 150px;

    .listStoryImg {
      &:hover {
        box-shadow: -5px 0px 0px 0px var(--primary-color);
      }
    }

    .listStoryContent {
      padding: 10px 15px;
      .listStoryTitle {
        font-size: 22px;
      }

      .listStoryByLine {
        font-size: 14px;
      }
    }
  }
}
