<section id="story-list">
  <div id="story-list-header">
    <div id="story-list-header-text">MORE STORIES</div>
  </div>
  <div
    class="listStory"
    *ngFor="let story of stories; let i = index"
    [ngClass]="{ firstStory: i === 0 }"
  >
    <div
      class="listStoryImg"
      [ngStyle]="{
        'background-image':
          'url(' + story.fields.mainImage.fields.file.url + ')'
      }"
    ></div>
    <div class="listStoryContent">
      <div class="listStoryTag">{{ story.fields.tags[0] }}</div>
      <div class="listStoryTitle">{{ story.fields.title }}</div>
      <div class="listStoryByLine">
        By: {{ story.fields.author.fields.name }} |
        {{ story.fields.updatedDateTime | date: "MMMM d" }}
      </div>
    </div>
  </div>
  <button id="more-stories-button">Show More +</button>
</section>
