<section id="story-list">
  <div id="story-list-header">
    <div id="story-list-header-text">
      <span *ngIf="category !== 'Search'">MORE {{ category | uppercase }}</span>
      <span *ngIf="category === 'Search'">SEARCH RESULTS</span>
    </div>
  </div>
  <div
    class="listStory"
    *ngFor="let story of stories; let i = index"
    [ngClass]="{ firstStory: i === 0 }"
    (click)="storyService.routeToStory(story)"
  >
    <div
      class="listStoryImg"
      [ngStyle]="{
        'background-image':
          'url(' + story.fields.mainImage.fields.file.url + ')'
      }"
    ></div>
    <div class="listStoryContent">
      <div class="listStoryTag">{{ story.fields.category }}</div>
      <div class="listStoryTitle">{{ story.fields.title }}</div>
      <div class="listStoryByLine">
        By: {{ story.fields.author.fields.name }} |
        {{ story.sys.updatedAt | date: "MMMM d" }}
      </div>
    </div>
  </div>
  <button id="more-stories-button" (click)="handleShowMore()">
    Show More +
  </button>
</section>
